@font-face {
    font-family: "sansation";
    src: url(sansation/Sansation_Bold.ttf)  format('truetype');
    /* or opentype */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-image: url('/img/logo.png');
}

.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Ajuste para caber sob o header */
}

.login-frame {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 320px;
    border: 1px solid #007BFF; /* Borda azul ao redor do frame */
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF; /* Cor do título */
}

.login-box label {
    display: block;
    margin: 10px 0 5px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Adicionando estilos específicos para a página de recuperação de senha */
.login-box {
    max-width: 400px; /* Mantendo a largura igual à página de login */
}

/* Se quiser adicionar um pouco mais de espaço entre os elementos */
.login-box p {
    margin-top: 15px; /* Ajusta a margem superior */
}

/* Se você quiser modificar um pouco a aparência do botão de enviar */
button[type="submit"] {
    margin-top: 10px; /* Espaço acima do botão */
    background-color:#fe9611 ;
    width: 60px;
    height:30px ;
}
