
@font-face {
    font-family: "sansation";
    src: url(sansation/Sansation_Bold.ttf)  format('truetype');
    /* or opentype */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --azul-escuro: rgb(21, 2, 90);
    --orange: rgb(255, 178, 34);
    --white: rgb(255, 255, 255);
    --degrade-btn: linear-gradient( #fe9611, #ff5c00); /* Ajuste no gradiente */
}

.background-azul {
    background: var(--azul-escuro);
}

/* Classes reutilizáveis */
.container {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

section,
footer{
    padding:2,7rem 0;
}

.btn-gradiente {
    padding: 10px 25px;
    color: white;
    border: none;
    cursor: pointer;
    background-image: var(--degrade-btn); /* Garantindo que o degradê seja aplicado como fundo */
  
}

.btn-gradiente:hover {
    background: linear-gradient(to right, #ff5c00, #fe9611); /* Alteração no gradiente ao passar o mouse */
}

/* Classes do site */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo a {
    font-size: 30px; /* Corrigido o espaço */
    font-weight: bold;
    color: white;
}

.ul {
    display: flex;
    align-items: center;
}

.ul li {
    margin: 0 35px;
    font-size: 15px;
}

.ul li a {
    color: white;
}
/*main*/

main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30 px ;

}
.main-text{
    width: 50% ;
    color: white;

}
.main-text h1{
    font-size: 50 rem;
}
.main-text div{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.main-img{
    width: 50%;
}
.main-img img{
    width: 100%;

}
/* menu-icon*/

.menu-icon{
    display: none ;
    position: relative;
    z-index: 10 ;
}
/*resultados*/
.resultados{
    background: orange;
}
.resultados .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.resultados .resultados-text{
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    width: 50%;
}
.resultados .resultados-numero{
    display: flex;
    align-items:center ;
    justify-content: center;
    color: white;

}
.resultados .resultados-numero p{
    text-align: center;
    margin: 0 30px;
    font-size: 20px;


}

.resultados .resultados-numero p span{
    font-size: 30px;
    font-weight: 600;
}

.diferenciais .container{
    display:flex ;
    justify-content: space-between;
    margin: 30px auto;
}

.diferenciais .card{
    width: 30%;
    cursor: pointer;
    padding: 30 px;
    border-radius:15px ;
    transition:0.2s ;
   

}

.diferenciais .card:hover{
    box-shadow:0px 10px 67px 8px #e6e6fa85;
}

.diferenciais .card img{
    width: 60px;

}

.diferenciais .card .titulo{
    margin: 13px 0;
    font-weight: 600 ;

}

.diferenciais .container{
flex-direction:column;
}

.diferenciais .card{
    width: 100%;
}


/*section casa*/
.casa .container{
    display: flex;
    align-items: center;

}

.casa .casa-img{
    width: 50%;

}

.casa .casa-img img{
    width: 100%;
    border-radius: 10px;

}

.casa .casa-text{
    width: 50%;
    padding-left: 90px ;

}

.casa .casa-text h2{
    font-size: 2.5 em;

}

.casa .casa-text p{
    margin: 20 0 px;
    color: var(--color-p);

}

.casa .casa-text p b{
    color: midnightblue;
    font-size: 25 px;

}
.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-family: sans-serif;
    font-weight: 600;
  }
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  .social-icons a:hover {
    text-decoration: underline;
  }

